body {
	font-family: 'PT Sans', sans-serif;
}

/**{border: 1px solid red;}*/

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #000;
}

h3 {
	font-weight: 400;
}

h2 {
	text-align: center;
}

header {
	background: #fcdb00;
	color:#010101;
	padding-top: 58px; 
	padding-bottom: 105px;
}

p, div, a, span{
	line-height: 1.3em;
}

.menu {
margin-top: 10px;
}	

.menu__item {
	margin: 0 57px 
}

.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.offer{
margin-top: 117px;
}

.offer__title{
	font-size: 32px;
	margin-bottom: 6px;	
}

.offer__intro{
	font-size: 20px;
	line-height: 1.3em;
}

.offer__text {
	font-size: 16px;
	margin-top: 20px;
	color: #555555;
	width: 400px;
}

.icons__item {
	margin-right: 30px;
}

.icons__item a{
	color: 	#000;
	font-size: 42px;
	transition: all 0.5s ease;
}

.icons__item a:hover{
	text-decoration: none;
	color: #ff4800;
}

.ipad {
	display: block;
	margin: 60px auto 0;
}

.title	{
padding-top: 100px;	
text-align: center;
padding-bottom: 70px;
}

.title__main {
	font-size: 32px;
}

.title__text {
	font-size: 20px;
	width: 780px;
	margin: 0 auto;
}

.feature__icon {	
	text-align: center;
	color: #000;
	font-size: 40px;
	width: 100px;
}

.feature__text {
	padding-left: 35px;
	color: #898989;	
	font-size: 16px;
}

.feature__title {
	font-size: 22px;
	font-weight: 700;
	margin-left: 35px;
}

.features {
	margin-bottom: 65px;	
}

.touch {
	background: #010101;
	color: #fff;
}

.yellow {
	color: #fcdb00;
}

.form {
text-align: center;
}

.form__input {
background: #fff;
font-size: 16px;
font-family: 'PT Sans', sans-serif;
border-radius: 5px;
width: 580px;
padding: 15px 0;
margin-right: 21px;
border: 0px;
padding-left: 23px; 
outline: none;
}

.form__btn {
font-family: 'PT Sans', sans-serif;
background: #fcdb00;
color: #000;
text-transform: uppercase;
font-size: 16px;
font-weight: 700;
border-radius: 5px;
width: 126px;
border: 0;
padding: 14px 0;
cursor: pointer;
outline: none;
}

.footer	{
	background: #000;
	padding: 50px 0 94px;
}

.credits {
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 184px;
	margin: 0 auto
}

 
@media  screen and (max-width: 992px) {
		.logo {
			display: block;
			margin: 0 auto;
			margin-bottom: 30px;
		}

		.offer {
			text-align: center;
		}

		.offer__text {
			margin: 20px auto;
			width: auto;
		}

		.title__text {
			width: auto;
		}
		
		.icons {
			justify-content: center;
		}

		.icons__item:nth-child(3) {
			margin-right: 0;	 
		}

		.form__input {
			margin-right: 0;
			width: 100%;
		}

		.form__btn {
			margin-top: 20px;
			width: 100%;
		}

	}

	@media  screen and (max-width: 576px){
		.ipad {
			width: 100%;
		}

		.menu{
			flex-direction: column;
		}

		.menu__item {
			text-align: center;
			margin-bottom: 10px;
		}
	}	
